@import '../../assets/styles/main';

div#login {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    @include flex(column);

    .form-container {
        background: $dark-grey;
        color: white;
        border-radius: 0 0 15px 15px;
        -webkit-border-radius: 0 0 15px 15px;
        -moz-border-radius: 0 0 15px 15px;
        -ms-border-radius: 0 0 15px 15px;
        -o-border-radius: 0 0 15px 15px;
        display: flex;
        flex-direction: column;

        .options {
            width: 100%;
            @include flex(row);

            a {
                background: lighten($dark-grey, 2);
                padding: 1.5rem 0;
                width: 50%;
                text-align: center;

                &:hover {
                    background: lighten($dark-grey, 4);
                }
            }

            .active {
                background: darken($dark-grey, 2);
                cursor: auto;

                &:hover {
                    background: darken($dark-grey, 2);
                }
            }
        }

        .login-form {
            padding: 4rem 3rem;
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            @include flex(column);

            form {
                @include flex(column);

                input {
                    margin: 0 0 2rem;
                    color: white;
                    font-size: 1rem;
                    width: 20rem;
                    padding: 0.6rem;
                    background: none;
                    border: none;
                    outline: none;
                    border-bottom: 1.3px solid lighten($grey, 12);
                }

                button {
                    width: 10rem;
                }

                .forgotPassword {
                    margin-top: 2rem;
                    font-size: 0.8rem;
                    color: #779;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media(max-width: 500px) {
    div#login {
        .form-container {
            height: 100vh;
            width: 100vw;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;

            .login-form {
                form {
                    input {
                        font-size: 1.3rem;
                        margin: 0 0 2.5rem;
                    }
                    button {
                        font-size: 1.3rem;
                        width: 15rem;
                    }
                    .forgotPassword {
                        margin-top: 3.5rem;
                        font-size: 1rem;
                    }
                }
            }   
        }
    }
}