$light-blue: #9BD7FF;
$blue: #82BBF1;
$light-grey: #cdd4e1;
$grey: #302E36;
$semi-dark-grey: #222a35;
$dark-grey: #201E24;
$platinum: #DFE6EB;
$hyper-light-blue: rgb(227, 248, 255);
$semi-dark-blue: rgb(124,130,199);
$blue-green: #1da986;

$font-primary: 'Roboto', sans-serif;
$font-secundary: 'Raleway', sans-serif;
$default-font-size: 1.4em;

$bp-900: 56.25em; //900px
$bp-700: 43.75em; //700px
$bp-600: 37.5em; //600px