@import '../../assets/styles/main';

button.btn {
    margin: 0;
    border: none;
    outline: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.1rem;
    color: white;
    background: linear-gradient(to right, $blue-green, $semi-dark-blue);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;

    &:hover {
        &:hover {
            background: linear-gradient(to right, darken($blue-green, 6%), darken($semi-dark-blue, 6%));
            transition: .7s;
            -webkit-transition: .7s;
            -moz-transition: .7s;
            -ms-transition: .7s;
            -o-transition: .7s;
        }
    }
}