@import '../../assets/styles/main';

button.btn {
    position: relative;
    margin: 0;
    border: none;
    outline: none;
    font-size: calc(0.9rem + 0.325vw);
    padding: calc(0.8rem + 0.325vw) 0;
    color: white;
    background: $gradient;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;

    a {
        padding: calc(0.8rem + 0.325vw) calc(1.5rem + 0.325vw);
    }

    &:hover {
        background: linear-gradient(to right, darken($blue-green, 6%), darken($semi-dark-blue, 6%));
        transition: .7s;
        -webkit-transition: .7s;
        -moz-transition: .7s;
        -ms-transition: .7s;
        -o-transition: .7s;
    }
}