@import '../../assets/styles/main';

div#home-page {
    section.main-content {
        background-size: cover;

        main.home-page-main {
            color: white;
            height: calc(100vh - 75px);
            width: 33rem;
            margin-left: 15%;
            @include flex(column);

            header.main-header {
                text-align: left;
                font-size: 2.5rem;
                line-height: 3.2rem;
            }

            div.main-container {

                p.main-description {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5rem;
                    text-align: left;
                    margin: 1.6rem 0 2rem;
                }

                a {

                }
            }
        }
    }
    section.about {

    }
    section.example {

    }
    section.contact {

    }
    section.home-page-footer {

    }
}

@media (max-width: 700px) {
    div#home-page {
        section.main-content {
            @include flex(column);
            
            main.home-page-main {
                margin-left: 0;

                header.main-header {
                    text-align: center;
                }
    
                div.main-container {
                    @include flex(column);
    
                    p.main-description {
                        text-align: center;
                    }
    
                    a {
    
                    }
                }
            }
        }
        section.about {
    
        }
        section.example {
    
        }
        section.contact {
    
        }
        section.home-page-footer {
    
        }
    }
}

@media (max-width: 600px) {
    div#home-page {
        section.main-content {
            @include flex(column);
            
            main.home-page-main {
               width: 80%;

                header.main-header {
                }
    
                div.main-container {
    
                    p.main-description {
                    }
    
                    a {
    
                    }
                }
            }
        }
        section.about {
    
        }
        section.example {
    
        }
        section.contact {
    
        }
        section.home-page-footer {
    
        }
    }
}

@media (max-width: 500px) {
    div#home-page {
        section.main-content {
            @include flex(column);
            
            main.home-page-main {

                header.main-header {
                    font-size: 2.2rem;
                }
    
                div.main-container {
    
                    p.main-description {
                        font-size: 0.9rem;
                    }
    
                    a {
    
                    }
                }
            }
        }
        section.about {
    
        }
        section.example {
    
        }
        section.contact {
    
        }
        section.home-page-footer {
    
        }
    }
}