@import '../../assets/styles/main';

div#home-page {
    section.main-content {
        height: 100vh;
        background-size: cover;
        display: flex;
        align-items: center;

        main.home-page-main {
            color: white;
            margin-top: 75px;
            height: calc(100vh - 75px);
            width: 33rem;
            margin-left: 15%;
            @include flex(column);

            header.main-header {
                text-align: left;
                font-size: calc(2rem + 1.25vw + 0.25vh);
                line-height: 3.5rem;
            }

            div.main-container {

                p.main-description {
                    font-size: calc(0.8rem + 0.25vw);
                    font-weight: 400;
                    line-height: calc(1.3rem + 0.6vw);
                    text-align: left;
                    margin: 1.6rem 0 2rem;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    div#home-page {
        section.main-content {
            @include flex(column);
            
            main.home-page-main {
                margin-left: 0;

                header.main-header {
                    text-align: center;
                }
    
                div.main-container {
                    @include flex(column);
    
                    p.main-description {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    div#home-page {
        section.main-content {
            @include flex(column);
            
            main.home-page-main {
               width: 80%;
            }
        }
    }
}

@media (max-width: 500px) {
    div#home-page {
        section.main-content {
            @include flex(column);
            
            main.home-page-main {

                header.main-header {
                    font-size: 2rem;
                    width: 90vw;
                    line-height: 2.8rem;
                }
            }
        }
    }
}