@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'abstracts/_variables';
@import 'abstracts/_reset';

// Estilos padrão
body {
    font-family: $font-primary;
    font-size: $default-font-size;
    color: $dark-grey;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: $font-secundary;
}

// Scrollbar personalizada (não funciona no firefox)
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: $dark-grey;
}

::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 10px;
    border: 3px solid $dark-grey;
}

::-webkit-scrollbar-thumb:hover {
    background: $light-blue;
}