@import '../Colors.scss';

.page-not-found {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    > .image {
        img {
            width: 500px;
        }
    }
    > .content {
        flex-direction: column;
        text-align: center;

        h1 {
            font-size: 70px;
            font-weight: 600;
            color: $blue;
        }

        h2 {
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 20px;
            color: #303B5C;
        }

        p {
            font-size: 18px;
            margin-bottom: 35px;
            color: #303B5C;
        }

        a {
            background-color: darken(#eBe6f9, 10%);
            padding: 10px 15px;
            border-radius: 10px;
            color: #fff;

            &:hover {
                background-color: darken(#eBe6f9, 13%)
            }
        }
    }
}

@media (max-width: 850px) {
    .page-not-found {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .page-not-found {
        > .image {
            img {
                width: 380px;
            }
        }
        > .content {
            flex-direction: column;
            text-align: center;
    
            h1 {
                font-size: 60px;
            }
    
            h2 {
                font-size: 23px;
            }

            p {
                font-size: 17px;
            }
        }
    }
}