@import '../../assets/styles/main';

.card {
    height: 100vh;
    @include flex(column);
    color: white;

    &:nth-child(odd) { background: $dark-grey; }
    &:nth-child(even) { background: lighten($dark-grey, 1.9); }

    .question {
        margin: 1.3rem 0 2rem;
    }

    .questionImage {
        width: 30rem;
    }

    .answers {
        button {
            cursor: pointer;
            margin: 0 0.3rem;
            background: none;
            border: 2px solid white;
            color: white;
            width: 10rem;
            height: 5rem;
            border-radius: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            -ms-border-radius: 9px;
            -o-border-radius: 9px;

            &:hover {
                background: #fff1;
            }
        }

        .right, .wrong {
            cursor: auto;
        }

        .right {
            background: $gradient;
            border: none;

            &:hover {
                background: $gradient;
            }
        }

        .wrong {
            &:hover {
                background: none;
            }
        }
    }
}

@media(max-width: 780px) {
    .card {
        .question {
            margin: 1.3rem 0 2rem;
        }
    
        .questionImage {
            width: 60vw;
        }
    
        .answers {
            button {
                margin: 0.3rem 0.3rem 0.3rem 0.6rem;
                width: 45vw;
                height: 13vh;
            }
        }
    }
}

@media(max-width: 580px) {
    .card {
        .questionImage {
            width: 85vw;
        }
    }
}
