@import '../../assets/styles/main';

.card {
    height: 100vh;
    @include flex(column);
    color: white;
    background: $dark-grey;

    .quizHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 420px;
        height: 3rem;

        .icon {
            color: $blue-green;

            &:hover {
                color: lighten($blue-green, 5);
            }
        }
    }

    .question {
        margin: 1.3rem 0;
        font-size: 1.3rem;
    }

    .questionNumber {
        font-size: 0.8rem;
        font-family: $font-primary;
        font-weight: 500;
        color: $blue-green;
        background: darken($dark-grey, 5);
        padding: 0.5rem 1rem;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        }

    .questionImage {
        width: 420px;
    }

    .next, .finish {
        font-size: 1rem;
        margin-top: 1.8rem;
        padding: 0.6rem 1.5rem;
        color: white;
        border: none;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
    }

    .next {
        background: $blue-green;

        &:hover {
            background: lighten($blue-green, 3);
        }
    }

    .finish {
        background: $blue-green;

        &:hover {
            background: lighten($blue-green, 3);
        }
    }

    .disabled {
        background: #fff1;

        &:hover {
            background: #fff1;
        }
    }

    .answers {
        button {
            cursor: pointer;
            margin: 0 0.3rem;
            background: none;
            border: none;
            color: white;
            width: 10rem;
            height: 5rem;
            border-radius: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            -ms-border-radius: 9px;
            -o-border-radius: 9px;
            background: lighten($grey, 2);

            &:hover {
                background: darken($grey, 1);
            }
        }

        .selected {
            background: $gradient;
            border: none;

            &:hover {
                background: $gradient;
            }
        }
    }

    .score {
        color: lighten($grey, 45);
        font-size: 1.2rem;
        margin-top: 0.4rem;

        .colorful {
            color: $blue;
            font-weight: 500;
        }
    }

    .returnHome, .new {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .returnHome {
        width: 13.5rem;
        font-size: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }

    .new {
        font-size: 0.7rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        color: $blue;
        width: 9.2rem;
        text-transform: uppercase;

        &:hover {
            color: lighten($blue, 10);
        }
    }

    .illustration {
        width: 40rem;
    }

    .scoreDescription {
        text-align: center;

        .scoreTitle {
            padding: 0 1rem;
        }

        .scoreSubtitle {
            font-size: 1rem;
            padding: 0 2.3rem;
            line-height: 1.3rem;
            box-sizing: border-box;
            margin: 0.3rem 0 1rem;

            .green {
                color: lighten($blue-green, 5);
            }

            .yellow {
                color: #eced72;
            }

            .red {
                color: #ec7372;
            }
        }
    }
}

@media(max-width: 780px) {
    .card {
        padding: 1.5rem 0;
        box-sizing: border-box;
        height: 108vh;

        .question {
            margin: 1.3rem 0 2rem;
        }

        .quizHeader {
            width: 85vw;
        }
    
        .questionImage {
            width: 60vw;
        }
    
        .answers {
            button {
                margin: 0.3rem 0.3rem 0.6rem 0.6rem;
                width: 45vw;
                height: 13vh;
            }
        }

        .next, .finish {
            margin-top: 1rem;
        }
    }
}

@media(max-width: 650px) {
    .card {
        .illustration {
            width: 97vw;
            margin: 1rem 0;
        }

        .scoreDescription {
            .scoreSubtitle {
                font-size: 0.8rem;
            }
        }
    }
}

@media(max-width: 580px) {
    .card {
        .questionImage {
            width: 85vw;
        }
    }
}