@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/* Paleta de cores */
::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  background: #201E24; }

::-webkit-scrollbar-thumb {
  background: #82BBF1;
  border-radius: 10px;
  border: 3px solid #201E24; }

::-webkit-scrollbar-thumb:hover {
  background: #9BD7FF; }

::selection {
  background-color: #9BD7FF; }

body {
  font-family: Roboto, Arial, sans-serif; }
