/* Paleta de cores */
.page-not-found {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh; }
  .page-not-found > .image img {
    width: 500px; }
  .page-not-found > .content {
    flex-direction: column;
    text-align: center; }
    .page-not-found > .content h1 {
      font-size: 70px;
      font-weight: 600;
      color: #82BBF1; }
    .page-not-found > .content h2 {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 20px;
      color: #303B5C; }
    .page-not-found > .content p {
      font-size: 18px;
      margin-bottom: 35px;
      color: #303B5C; }
    .page-not-found > .content a {
      background-color: #cabdef;
      padding: 10px 15px;
      border-radius: 10px;
      color: #fff; }
      .page-not-found > .content a:hover {
        background-color: #c0b1ec; }

@media (max-width: 850px) {
  .page-not-found {
    flex-direction: column; } }

@media (max-width: 500px) {
  .page-not-found > .image img {
    width: 380px; }
  .page-not-found > .content {
    flex-direction: column;
    text-align: center; }
    .page-not-found > .content h1 {
      font-size: 60px; }
    .page-not-found > .content h2 {
      font-size: 23px; }
    .page-not-found > .content p {
      font-size: 17px; } }
