/* Paleta de cores */

$light-blue: #9BD7FF;
$blue: #82BBF1;
$light-grey: #cdd4e1;
$grey: #302E36;
$semi-dark-grey: #222a35;
$dark-grey: #201E24;
$platinum: #DFE6EB;
$hyper-light-blue: rgb(227, 248, 255);
$semi-dark-blue: rgb(124,130,199);
